{{ partial "header.html" .}}
    <div class="post-intro">
      <div class="container">
        <div class="row">
           <div class="col-10 offset-1">
             <div class="post-heading">
               <h1>{{ .Title }}</h1>
               <br>
               <h2>{{ .Description }}</h2>
             </div>
           </div>
        </div>
      </div>
    </div>

    <!-- Post Content -->
    <div class="cd-main-content">
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1">
                  {{ if isset .Params "math" }}
                      {{ if eq .Params.math true }}
                          {{ .Content | replaceRE ".begin{(.+)}" "<div class=\"h-scroll\">\\begin{$1}" | replaceRE ".end{(.+)}" "\\end{$1} </div>" | replaceRE "<p>\\$\\$" "<p><div class=\"h-scroll\">$$$$"| replaceRE "\\$\\$</p>" "$$$$</div></p>" | replaceRE "<img src=\"(.+)\\.(png|jpeg|jpg|gif|PNG|JPG|JPEG|GIF)\" alt=\"(.*)\" title=\"(.*)\"" "<img src=\"$1.$2\" alt=\"$3\" style=\"width: $4%\"" | safeHTML}}
                      {{else}}
                          {{ .Content | replaceRE "<img src=\"(.+)\\.(png|jpeg|jpg|gif|PNG|JPG|JPEG|GIF)\" alt=\"(.*)\" title=\"(.*)\"" "<img src=\"$1.$2\" alt=\"$3\" style=\"width: $4%\"" | safeHTML}}
                      {{end}}
                  {{ else }}
                      {{ .Content | replaceRE "<img src=\"(.+)\\.(png|jpeg|jpg|gif|PNG|JPG|JPEG|GIF)\" alt=\"(.*)\" title=\"(.*)\"" "<img src=\"$1.$2\" alt=\"$3\" style=\"width: $4%\"" | safeHTML}}
                  {{end}}

                  {{ partial "comments.html" .}}

                </div>
            </div>
        </div>
    </div>

    <nav class="cd-secondary-nav">
    	<ul>
    		<li><a href="/">Home</a></li>
        {{ if isset .Params "intro" }}
          {{ if eq .Params.intro true }}
      		  <li><a class="active" href="/page/introduction">Intro</a></li>
          {{ else }}
            <li><a href="/page/introduction">Intro</a></li>
          {{ end }}
        {{ end }}
    		<li><a href="/post">Blog</a></li>
        {{ if isset .Params "intro" }}
          {{ if eq .Params.intro true }}
      		  <li><a href="/page/contact">Contact</a></li>
          {{ else }}
            <li><a class="active" href="/page/contact">Contact</a></li>
          {{ end }}
        {{ end }}
    	</ul>
    </nav>


{{ partial "footer.html" .}}
