{{ partial "header.html" .}}
    <!-- Post Content -->
    <div class="cd-page-content">
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1 col-md-8 offset-md-2">
                  {{.Content}}

                  {{ partial "comments.html" .}}

                </div>
            </div>
        </div>
    </div>

    <nav class="cd-secondary-nav">
    	<ul>
    		<li><a href="/">Home</a></li>
        {{ if isset .Params "intro" }}
          {{ if eq .Params.intro true }}
      		  <li><a class="active" href="/page/profile">Profile</a></li>
          {{ else }}
            <li><a href="/page/profile">Profile</a></li>
          {{ end }}
        {{ end }}
    		<li><a href="/post">Blog</a></li>
        {{ if isset .Params "intro" }}
          {{ if eq .Params.intro true }}
      		  <li><a href="/page/contact">Contact</a></li>
          {{ else }}
            <li><a class="active" href="/page/contact">Contact</a></li>
          {{ end }}
        {{ end }}
    	</ul>
    </nav>


{{ partial "footer.html" .}}
