{{ partial "header.html" . }}
    <div class="post-top">
      <div class="container">
        <div class="row">
           <div class="col-12">
             <div class="site-title">
                {{ .Title }}
             </div>
           </div>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
          {{ if eq .Section "post" }}
          {{ end }}
          {{ range .Paginator.Pages }}
              {{ .Render "archive" }}
          {{ end }}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          {{ partial "pagination.html" . }}
        </div>
      </div>
    </div>

    <nav class="cd-secondary-nav post-list">
    	<ul>
    		<li><a href="/">Home</a></li>
    		<li><a href="/page/profile">Profile</a></li>
    		<li><a class="active" href="/post">Blog</a></li>
        <li><a href="/page/contact">Contact</a></li>
    	</ul>
    </nav>

{{ partial "footer.html" . }}
