<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
    {{ template "_internal/google_analytics.html" . }}
    {{ if isset .Params "math" }}
      {{ if eq .Params.math true }}
        <script type="text/x-mathjax-config">
          MathJax.Hub.Config({
              tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
              linebreaks: {automatic: true}
          });
        </script>
        <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML&locale=ja"></script>
      {{end}}
    {{ end }}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ if .Description }}{{ .Description }}{{ end }}">
    <meta name="keywords" content="{{ if .Params.tags }}{{ delimit .Params.tags ", " }}{{ end }}">
    <meta name="google-site-verification" content="DuXbXjlj0iP74FvsnSy6-F95SVEMDcnVV-cFFq4I6rI" />
    <title>{{ .Title }} - {{ .Site.Title }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="preload" href="{{ "css/style.css" | absURL }}" as="style">
    <!-- Custom Fonts -->
    <link href="//use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=David+Libre|Hind:400,700" rel="stylesheet">
    <link rel="icon" href="{{ .Site.BaseURL }}/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="{{ .Site.BaseURL }}/favicon/apple-touch-icon.png" sizes="152x152">
    <link rel="icon" href="{{ .Site.BaseURL }}/favicon/icon-192x192.png" sizes="192x192" type="image/png">
</head>

<body>
    <header class="cd-auto-hide-header">
      <!-- Navigation -->
      <div class="logo"><a href="/">Hamataku Lab</a></div>
      <nav class="cd-primary-nav">
    		<a href="#cd-navigation" class="nav-trigger">
    			<span>
    				<em aria-hidden="true"></em>
    				Menu
    			</span>
    		</a> <!-- .nav-trigger -->

    		<ul id="cd-navigation">
          <li><a href="/page/profile">プロフィール</a></li>
    			<li><a href="/post">ブログ</a></li>
    			<li><a href="/page/contact">ご連絡</a></li>
    		</ul>
    	</nav> <!-- .cd-primary-nav -->
    </header> <!-- .cd-auto-hide-header -->
