{{ partial "header.html" .}}
    <!-- Main Content -->


    <section class="cd-hero">
      <div class="particle animate" id="link_move"></div>
      <div class="cd-hero-content">Hamataku Lab</div>
      <div class="cd-hero-content2">(deprecated)</div>
    </section>

    <article>
      <div class="container animate-late">
        <div class="row">
          <div class="col-6 offset-3 col-sm-6 offset-sm-0 text-center h100 d-flex align-items-center justify-content-center">
            <div class="text-center">
              <p class="h1"><b>自己紹介</b></p>
            </div>
          </div>
          <div class="col-12 col-sm-6 first h100 d-flex align-items-center justify-content-center">
            <div class="text-center">
              <p>EEICのどこかにいた人</p>
              <a href="/page/profile"><button type="button" class="btn btn-outline-dark btn-lg"><p class="h3"> Profiile </p></button></a>
            </div>
          </div>
        </div>
    </article>

    <br>
    <br>

    <article>
      <div class="container animate-late">
        <div class="row">
          <div class="col-6 offset-3 col-sm-6 offset-sm-0 text-center h100 d-flex align-items-center justify-content-center">
            <div class="text-center">
              <p class="h1"><b>ブログ</b></p>
            </div>
          </div>
          <div class="col-12 col-sm-6 first h100 d-flex align-items-center justify-content-center">
            <div class="text-center">
              <p>高校生からの書き溜め。多分もう更新しません</p>
              <a href="/post/"><button type="button" class="btn btn-outline-dark btn-lg"><p class="h3"> Blog </p></button></a>
            </div>
          </div>
        </div>
    </article>

    <nav class="cd-secondary-nav">
    	<ul>
    		<li><a class="active" href="/">Home</a></li>
    		<li><a href="/page/profile">Profile</a></li>
    		<li><a href="/post">Blog</a></li>
        <li><a href="/page/contact">Contact</a></li>
    	</ul>
    </nav>

{{ partial "footer.html" .}}
