{{ partial "header.html" .}}
    <!-- Main Content -->


    <section class="cd-hero">
      <div class="particle animate" id="link_move"></div>
      <div class="cd-hero-content">Hamataku</div>
      <div class="cd-hero-content2">Lab</div>
    </section>


    <article>
      <div class="container">
        <div class="row">
          <div class="col-6 offset-3 col-sm-6 offset-sm-0 text-center h100 d-flex align-items-center justify-content-center">
            <img src="/img/hamataku-round.png" alt="" class="img-fluid circle">
          </div>
          <div class="col-12 col-sm-6 first h100 d-flex align-items-center justify-content-center">
            <div class="text-center">
              <p class="h1"><b>Hamataku</b></p><br>
              <p>東京大学理科一類。<br>プログラミング、電子工作、音楽を広く浅く。</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-10 offset-1">
            {{ .Content }}
          </div>
        </div>

      </div>
    </article>

    <br>
    <br>

    <article>
      <div class="container animate-late">
        <div class="row">
          <div class="col-6 offset-3 col-sm-6 offset-sm-0 text-center h100 d-flex align-items-center justify-content-center">
            <div class="text-center">
              <p class="h1"><b>自己紹介</b></p>
            </div>
          </div>
          <div class="col-12 col-sm-6 first h100 d-flex align-items-center justify-content-center">
            <div class="text-center">
              <p>昔からモノを作るのが好きで、電気に関係するものなら何でも興味があります。</p>
              <a href="/page/profile"><button type="button" class="btn btn-outline-dark btn-lg"><p class="h3"> Profiile </p></button></a>
            </div>
          </div>
        </div>
    </article>

    <br>
    <br>

    <article>
      <div class="container animate-late">
        <div class="row">
          <div class="col-6 offset-3 col-sm-6 offset-sm-0 text-center h100 d-flex align-items-center justify-content-center">
            <div class="text-center">
              <p class="h1"><b>電<i class="fas fa-bolt"></i>ブロ書いてます</b></p>
            </div>
          </div>
          <div class="col-12 col-sm-6 first h100 d-flex align-items-center justify-content-center">
            <div class="text-center">
              <p>電子工作とか、プログラミングに関することをいろいろ書いていきます。<br>たまに関係ないことも書きます。</p>
              <a href="/post/"><button type="button" class="btn btn-outline-dark btn-lg"><p class="h3"> Blog </p></button></a>
            </div>
          </div>
        </div>
    </article>

    <nav class="cd-secondary-nav">
    	<ul>
    		<li><a class="active" href="/">Home</a></li>
    		<li><a href="/page/profile">Profile</a></li>
    		<li><a href="/post">Blog</a></li>
        <li><a href="/page/contact">Contact</a></li>
    	</ul>
    </nav>

{{ partial "footer.html" .}}
